{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

        
            <form action="{% url 'auctions:categories' %}" method="POST">
                {% csrf_token %}
                <select class="option" name="cat">

                    <option value="">Select One</option> 
                    {% for category in categories %}
                       
                    <option  value={{category}}>{{category}}</option>

                    {% endfor %}
                    
                </select>
                <button class="submit_button">Submit</button>

            </form>     
            <br>
            <br>
            <br>
            {% if listings %}        
            <table class="table table-striped">
               
                <tbody>
                    {% for listing in listings %}
                    
                    <tr> 
                        <td>
                            {% if listing.image %}
                            <img src="{{BASE_DIR}}/{{ listing.image }}" height="150" width="150">
                            {% endif %}
                        </td>
                        <td>
                            {% if listing.url %}
                            <img src="{{ listing.url }}" height="150" width="150">
                            {% endif %}
                        </td>
                        <td>
                            <ul><a href="{% url 'auctions:listing' listing.id %}">
                                
                                <li class="item">{{listing.title}}</li></a>
                                <li class="price">Price:${{listing.starting_bid}}</li>
                                <li class="description">{{listing.description}}</li><br><br>
                                <li class="date">posted on: {{listing.created_on}}</li>
                               
                            </ul>
                        </td>
                    </tr>
                    
                    {% endfor %}
        
                </tbody>
            </table>
            {% else %}
            <p>{{message}}</p>
            {% endif %}


        
{% endblock %}